numpy
pandas
qdrant-client
requests
h5py
pyyaml
rich
pymilvus
weaviate-client
psycopg2-binary
pgvector
chromadb
lancedb
faiss-cpu
matplotlib
seaborn
docker
huggingface-hub
tqdm
pyarrow
pydantic
coloredlogs
python-dotenv
sentence-transformers
scipy
